body {
  width: 100%;
  height: 100%;
  min-width: 300px;
  min-height: 300px;
}

.heading {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #233142;
  height: 10vh;
  min-height: 40px;
  width: 100%;
}

.title {
  text-align: center;
  margin: 0;
  padding: 0.5cm;
  color: wheat;
  width: 100%;
  letter-spacing: 2.5px;
}

.hamburger-icon {
  display: block;
  outline: 0;
  background-color: inherit;
  color: wheat;
  font-size: 30px;
  position: absolute;
  top: 2.5vh;
  left: 15px;
  border: none;
  border-radius: 5px;
}

.hamburger-icon:hover, .hamburger-icon:focus {
  background-color: white;
  color: #3f3b3b;
  cursor: pointer;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

#map {
  margin: 0;
  width: 80%;
  height: 90vh;
}

.list-view {
  width: 20%;
  background-color: #233142;
  height: 90vh;
  display: block;
}

.list-view input {
  width: 100%;
  padding: 10px;
  padding-left: 25px;
  border: 1px solid #f5f5f5;
  font-size: 13px;
  color: gray;
  background-image: url('http://i47.tinypic.com/r02vbq.png');
  background-repeat: no-repeat;
  background-position: -20px;
  outline: 0;
}

.list-view ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  height: 70vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

.list-view li {
  text-decoration: none;
  border-bottom: 2px solid white;
  color: wheat;
  line-height: 0.85cm;
  font-weight: bold;
  padding-left: 5px;
}

.list-view li:hover, .list-view li:focus {
  cursor: pointer;
  background-color: #455d7a;
  outline: none;
}

.infoWindow {
  text-align: center;
}

.error {
  color: red;
  background-color: black;
  text-align: center;
  padding: 10px;
}

/*
 * Styles for the footer
 */
#footer {
  font-size: 20px;
  color: white;
  text-align: center;
  padding: 10px 0 5px;
  letter-spacing: 2px;
}

.credits {
  color: #ccc;
  font-size: 12px;
  padding: 10px 0 0;
  letter-spacing: 0;
}

.fs {
  width: 12px;
  height: 20px;
}

/*
 * Scroll bar
 */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-thumb {
  background: #eee;
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb:hover {
  background: #3594c5;
}

/*
 * Media Queries
 */
@media screen and (max-width: 800px) {
  .title {
    margin: 0;
    padding: 0.5cm;
    color: wheat;
    width: 100%;
    letter-spacing: 1.5px;
    font-size: 1.2em;
  }

  #map {
    width: 65%;
  }

  .list-view {
    width: 35%;
  }

  .list-view ul {
    height: 65vh;
  }

  .infoWindow {
    width: 150px;
  }

  .infoWindow img {
    width: 130px;
  }

  #footer {
    font-size: 16px;
  }
}
